@import "./Styles/Defults/colors";
@import "./Styles/Defults/breakpoints";
@import "./Styles/Components/header";
@import "./Styles/Components/footer";

body {
    margin: 0;
    background-color: $primary-background;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}